.square {
  --color-border: var(--gray-50);
  --color-bg: var(--gray-50);
  --color-text: var(--color-text-accent);
  --size-text: var(--size-md);

  display: flex;
  position: relative;
  justify-content: flex-end;
  align-items: center;
  gap: var(--size-8);

  font-weight: medium;
  font-size: var(--font-md);

  border-radius: var(--size-4);
  border: 2px solid var(--color-border);

  color: var(--color-text);
  background-color: var(--color-bg);
  box-shadow:
    0 1px 3px 0 rgb(0 0 0 / 0.1),
    0 1px 2px -1px rgb(0 0 0 / 0.1);

  @media (width >= 768px) {
    /* flex-wrap: wrap; */
    flex-direction: column;
    align-items: flex-start;
  }
}
.text {
  display: block;
  min-width: var(--size-96);
  max-width: var(--size-96);
  color: var(--color-text-accent);

  @media (width >= 768px) {
    padding-bottom: var(--size-4);
  }
}

.color {
  width: 100%;
  height: 100%;
  height: var(--size-36);
  padding: var(--size-8);
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: center;
  box-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
  border-radius: var(--size-2);
}
