.container {
  display: grid;
  gap: var(--size-4);

  @media (width >= 768px) {
    /* grid-template-columns: repeat(11, minmax(0, 1fr)); */
    grid-template-columns: repeat(auto-fit, minmax(96px, 1fr));
  }
}
