.title {
  color: var(--color-text-title);
  font-size: var(--font-xl);
  /* padding: * var(--size-8); */
}
.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.color {
  display: flex;
  align-items: center;
  font-size: var(--font-md);
  color: var(--color-text-text);
  font-weight: medium;
  cursor: pointer;

  padding: var(--size-8);
  border-radius: var(--rounded);
  transition: 0.4s ease;
  &:hover {
    background-color: var(--color-layout-hover);
  }
}

.color-square {
  flex: 1;
  display: flex;
  align-items: center;
  gap: var(--size-8);
}

.svg {
  stroke: var(--color-layout-border);
}
