.layout {
  display: flex;
  flex-direction: column;
  gap: var(--size-16);

  min-height: 100vh;
  position: relative;
}

.header {
  grid-area: header;
}

.mian {
  grid-area: main;
}

.footer {
  grid-area: footer;
}
