.layout {
  display: flex;
  flex-direction: column;
  gap: var(--size-16);

  min-height: 100vh;
  position: relative;
}

.header {
  grid-area: header;
  margin: var(--size-16) *;
}
.title {
  font-size: var(--font-2xl);
  color: var(--color-text-title);
  text-wrap: balance;
  font-weight: bold;
  & span {
    color: var(--primary-600);
  }
  @media (prefers-color-scheme: dark) {
    & span {
      color: var(--primary-300);
    }
  }
}
.subtitle {
  font-size: var(--font-lg);
  color: var(--color-text-subtitle);
  text-wrap: balance;
  margin-top: var(--size-6);
  line-height: var(--size-28);
  font-weight: semibold;
}
.link {
  font-size: var(--font-lg);
  color: #7ae6fe;
}
.main {
  grid-area: main;
  display: grid;
  gap: var(--size-16);
  @media (width >= 48rem) {
    grid-template-columns: 1fr auto;
  }
  position: relative;
}
.section-one {
  width: 100%;
  display: grid;
  gap: var(--size-16);
  align-self: start;

  @media (width >= 48rem) {
    order: 2;
    position: sticky;
    top: var(--size-28);
    z-index: 10;
  }
}
.container_color-input {
  display: flex;
  gap: var(--size-8);
}

.section-two {
  width: 100%;
  min-width: 25%;
  @media (width >= 48rem) {
    order: 1;
  }
}
.footer {
  grid-area: footer;
}
